.gallery{
        line-height:50px;
        margin-top:140%;
        margin-right:0%;
    display: inline-block;
         }
    .photos{
        
        background-color:#71C0B4;
        color: white;
        height: 60px;
        width: 80%;
        text-align: center;
        padding-top: 20px;
        border-radius: 20px;
        margin-top: 20px;
        margin-left: 10%;
    }
    .color {
        background-color: #D7FFF9;
    }
       p {
  font-size: 30px;
  margin-top: -10px;
}
    .body {
    font: 100% ;
    }
.alert{
     line-height:50px;
        margin-top:140%;
        margin-right:0%;
    display: inline-block;
}
.report{

        display: inline-block;
        float: right;
       font-size: 40px
}
.deleteIcon{
     display: inline-block;
        float: left;
    font-size: 40px;
}